on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  cache: "npm"

            - run: npm install

            - run: npm run build

            - name: Upload GitHub Pages artifact
              uses: actions/upload-pages-artifact@v4.0.0
              with:
                  path: dist/

            - name: Deploy GitHub Pages site
              uses: actions/deploy-pages@v4
